<div class="container">

    <div ng-controller="NewMessageController">
        <div class="row" ng-if="errorMessage != null">
            <div class="alert alert-danger">{{errorMessage}}</div>
        </div>

        <div class="well">
            <form role="form">
                <div class="form-group">
                    <label for="header">Header</label>
                    <input type="text" class="form-control" id="header" placeholder="Message header" required ng-model="message.header">
                </div>
                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea class="form-control" id="body" placeholder="Message body"
                              rows="3" style="resize: none" required ng-model="message.body"></textarea>
                </div>
                <a class="btn btn-default" ng-click="sendMessage()">Send message</a>
            </form>
        </div>
    </div>

    <div class="row">
        <table class="table table-hover table-striped table-condensed col-12">
            <thead>
            <th>Header</th>
            <th>Body</th>
            </thead>
            <tbody>
            <tr ng-repeat="message in messages">
                <td>{{message.header}}</td>
                <td>{{message.body}}<td>
            </tr>
            </tbody>
        </table>
    </div>
</div>